:root{
    /* colors */
    --white:#fff;
    --black:#000;
    --blue:#3488FA;
    --dark:#222222;
    --grey-10:#F4F7FA;
    --grey-40:#B9C3D5;
    --grey-80:#818B9D;

    /* theme colors */
    --primary-color: var(--blue);
    --text-color: var(--dark);
    --bg-color: var(--white);

    --font-family-body: -apple-system, BlinkMacSystemFont, sans-serif;
    --font-size: 15px;
    --line-height: 18px;

    --sm-font-size:13px;
    --sm-line-height: 16px;

    --border:1px solid var(--grey-40);
    --border-radius:8px;

    --shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    --focus-shadow:1px 1px 5px #000 !important;

    --transition:all .25s ease;
  }